# drivers/MStar/Kconfig-Board

choice
	prompt "MStar DTV Board Config"
	default MSTAR_TITANIA_BD_MST055A_D01A_S

config MSTAR_TITANIA_BD_T3_FPGA
	bool "BD_T3_FPGA"

config MSTAR_TITANIA_BD_GP2_DEMO1
	bool "BD_GP2_DEMO1"
   
config MSTAR_TITANIA_BD_T2_LG_VENUS_BOARD_DVB_1
	bool "T2_LG_VENUS_BOARD_DVB_1"

config MSTAR_TITANIA_BD_T2_LG_MECURY_BOARD_ATSC_1
	bool "T2_LG_MECURY_BOARD_ATSC_1"

config MSTAR_TITANIA_BD_T2_LG_MECURY_BOARD_DVB_1
	bool "T2_LG_MECURY_BOARD_DVB_1"

config MSTAR_TITANIA_BD_T2_LG_MINERVA_BOARD_ATSC_1
	bool "T2_LG_MINERVA_BOARD_ATSC_1"

config MSTAR_TITANIA_BD_T2_LG_PDP_BOARD_DVB_1
	bool "T2_LG_PDP_BOARD_DVB_1"

config MSTAR_TITANIA_BD_S5_LG_DEMO_BOARD_1
        bool "S5_LG_DEMO_BOARD_1"

config MSTAR_TITANIA_BD_T2_LG_VENUS_BOARD_ATSC_1
	bool "T2_LG_VENUS_BOARD_ATSC_1"

config MSTAR_TITANIA_BD_S6_LG_DEMO_BOARD_ATSC_1
        bool "S6_LG_DEMO_BOARD_ATSC_1"

config MSTAR_TITANIA_BD_S6_LG_DEMO_BOARD_DVB_1
        bool "S6_LG_DEMO_BOARD_DVB_1"

config MSTAR_TITANIA_BD_MST055A_D01A_S
	bool "MST055A-D01A-S (DVB)"

config MSTAR_TITANIA_BD_MST055B_D01A_S
	bool "MST055B-D01A-S (ATSC)"

config MSTAR_TITANIA_BD_MST055C_D01A_S
	bool "MST055C-D01A-S"

config MSTAR_TITANIA_BD_MST055E_D01A_S
        bool "MST055E-D01A-S"

config MSTAR_TITANIA_BD_MST056C_D01A_S
	bool "MST056C-D01A-S"       
        
config MSTAR_TITANIA_BD_FPGA
	bool BD_FPGA
endchoice
